In [ ]:
#import libraries
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [ ]:
#data preprocessing
raw_mail_data = pd.read_csv('spam.csv',encoding = "ISO-8859-1")
mail_data = raw_mail_data.where((pd.notnull(raw_mail_data)),'')

In [ ]:
#check the shape
mail_data.shape

(5572, 5)

In [ ]:
#to see sample data
mail_data.head()

     v1  ... Unnamed: 4
0   ham  ...
1   ham  ...
2  spam  ...
3   ham  ...
4   ham  ...

[5 rows x 5 columns]

In [ ]:
#labelling the dataset, spam as 0 and ham as 1
mail_data.loc[mail_data['v1']== 'spam', 'v1',] = 0
mail_data.loc[mail_data['v1']== 'ham','v1',] = 1

In [ ]:
X = mail_data['v2']
Y = mail_data['v1']
print(X)
print("...........................")
print(Y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will Ì_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object
...........................
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

In [ ]:
#split the data set as train and test data
X_train, X_test ,Y_train,Y_test = train_test_split(X,Y,train_size=0.8,test_size=0.2,random_state=3)

In [ ]:
#Feature extraction
feature_extraction = TfidfVectorizer(min_df=1, stop_words='english', lowercase='True')
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

In [ ]:
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

In [ ]:
#training the model-svm
model=LinearSVC()
model.fit(X_train_features,Y_train)

LinearSVC()

In [ ]:
#prediction on training model
prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train,prediction_on_training_data)
print('Accuracy of Training Data =',accuracy_on_training_data)

Accuracy of Training Data = 0.9995512676688355

In [ ]:
#prediction on testing model
prediction_on_testing_data = model.predict(X_test_features)
accuracy_on_testing_data = accuracy_score(Y_test,prediction_on_testing_data)
print('Accuracy of Testing Data =',accuracy_on_testing_data)

Accuracy of Testing Data = 0.9856502242152466

In [ ]:
#prediction on model
input_mail=['U dun say so early hor... U c already then say...']
#convert test into feature vectors
input_mail_features=feature_extraction.transform(input_mail)
#making prediction
prediction = model.predict(input_mail_features)
print(prediction)
if (prediction[0]==1):
  print('HAM MAIL')

else:
  print('SPAM MAIL')

[1]
HAM MAIL